# Used by various git commands and also by the "-dist-check-src-untracked"
# ant target, which runs:
#     git ls-files --other --exclude-standard --directory --no-empty-directory
#
# don't ignore target dir, but ignore most things within it.
# git clone should create target/lib/ (and target/lib/.gitignore)
# to prevent eclipse ant import error at project creation.
/target/*.jar
/target/*.sqlite
/target/java.policy.applet
/target/classes/*
/target/dist/*
/target/docs/*
/target/lib/*
/target/test-classes/*
/build
/.gradle
/.idea
/.settings
__pycache__
