<?xml version="1.0" encoding="UTF-8" ?>

<!--
 This file is part of the Java Settlers Web App.

 This file Copyright (C) 2017 Jeremy D Monin (jeremy@nand.net)

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see http://www.gnu.org/licenses/ .
 -->

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1" >

    <display-name>JSettlers Server Web App</display-name>
    <description>
        Server part of browser-based web app for JSettlers2.
    </description>

    <!--
     Main background thread to start the actual SOCServer.
     Declared here instead of with annotation so it can be operationally shut down
     while leaving the web site content accessible.
    -->
    <listener><listener-class>socweb.server.Main</listener-class></listener>

    <!--

    Examples: (don't expect these names or paths to be final)

    <servlet>
        <servlet-name>JSettlersServerServlet</servlet-name>
        <servlet-class>socweb.server.example.RunServer</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>PlayServlet</servlet-name>
        <servlet-class>socweb.server.example.Play</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PlayServlet</servlet-name>
        <url-pattern>/play</url-pattern>
    </servlet-mapping>
    -->

</web-app>
