<?xml version="1.0" encoding="UTF-8" ?>

<!--
 This file is part of the Java Settlers Web App.

 This file Copyright (C) 2017 Jeremy D Monin (jeremy@nand.net)

 Open-source license: TBD
 -->

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1" >

    <display-name>JSettlers Web App</display-name>
    <description>
        Browser-based web app for JSettlers2.
    </description>

    <!--
	No servlets here, only the html5 /socweb demo web app; is packaged
	as socweb.war for deployment convenience alongside socserver.war
     -->

</web-app>
